<!DOCTYPE html>
<html>
<head>
    <% include head.ejs %>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/change_top.css" />
</head>
<body>
    <% include header.ejs %>
    <div class="change_top_main">
        <h2>ヤンデレ 追加・修正・削除 ページです</h1>
        <a href="/change/add" class="button">追加</a><br>
        <a href="/change/fix" class="button">修正</a><br>
        <a href="/change/delete" class="button">削除</a><br>
    </div>
</body>
</html>