<header>
    <h1>私的ヤンデレデータベース</h1>
    <nav>
        <ul>
            <a href="/"><li>
                トップ
            </li></a>
            <a href="/"><li>
                いろいろ
            </li></a>
            <a href="/"><li>
                書く。
            </li></a>
            <a href="/"><li>
                はい。
            </li></a>
        </ul>
    </nav>
</header>